@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
  @apply text-white;
}

body {
  background: #1A1A1A;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 500vh;
}
